<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wow.common.dao.RecordDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.Record">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="expire_date" jdbcType="DATE" property="expireDate" />
		<result column="price" jdbcType="DOUBLE" property="price" />
		<result column="extract1" jdbcType="DOUBLE" property="extract1" />
		<result column="extract2" jdbcType="DOUBLE" property="extract2" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="cutoff_date" jdbcType="DATE" property="cutoffDate" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="combo_id" jdbcType="BIGINT" property="comboId" />
		<result column="scale_id" jdbcType="BIGINT" property="scaleId" />
		<result column="app_id" jdbcType="BIGINT" property="appId" />
		<association property="combo" javaType="cn.wow.common.domain.Combo" column="combo_id" select="cn.wow.common.dao.ComboDao.selectOne"/> 
		<association property="scale" javaType="cn.wow.common.domain.Scale" column="scale_id" select="cn.wow.common.dao.ScaleDao.selectOne"/> 
		<association property="app" javaType="cn.wow.common.domain.App" column="app_id" select="cn.wow.common.dao.AppDao.selectOne"/> 
	</resultMap>

	<sql id="base_columns">
		c.id, c.expire_date, c.price, c.extract1, c.extract2, c.type,
		c.cutoff_date, c.create_time, c.update_time, c.remark, c.combo_id, c.scale_id, c.app_id
	</sql>

	<select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="base_columns" /> from record c where c.id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from record where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.Record">
		insert into record (expire_date, price, extract1, extract2, type, cutoff_date, create_time, update_time, remark, combo_id, scale_id, app_id)
		values (#{expireDate,jdbcType=DATE}, #{price,jdbcType=DOUBLE}, #{extract1,jdbcType=DOUBLE},
		#{extract2,jdbcType=DOUBLE}, #{type,jdbcType=INTEGER}, #{cutoffDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
		, #{comboId,jdbcType=BIGINT}, #{scaleId,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT})
	</insert>

	<update id="update" parameterType="cn.wow.common.domain.Record">
		update record
		<set>
			<if test="expireDate != null">
				expire_date = #{expireDate,jdbcType=DATE},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="extract1 != null">
				extract1 = #{extract1,jdbcType=DOUBLE},
			</if>
			<if test="extract2 != null">
				extract2 = #{extract2,jdbcType=DOUBLE},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="cutoffDate != null">
				cutoff_date = #{cutoffDate,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="comboId != null">
				combo_id = #{comboId,jdbcType=BIGINT},
			</if>
			<if test="scaleId != null">
			 	scale_id = #{scaleId,jdbcType=BIGINT},
			</if>
			<if test="appId != null">
			 	app_id = #{appId,jdbcType=BIGINT},
			</if>
			remark = #{remark,jdbcType=VARCHAR}
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select <include refid="base_columns" /> from record c left join app a on a.id = c.app_id 
	     <where>
			  <if test="startExpireDate != null and startExpireDate != ''">  
		    	and c.expire_date &gt;= #{startExpireDate, jdbcType=DATE}
		      </if>
		      <if test="endExpireDate != null and endExpireDate != ''">  
		    	and c.expire_date &lt;= #{endExpireDate, jdbcType=DATE}
		      </if>
		      <if test="startCreateTime != null and startCreateTime != ''">  
		    	and c.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="endCreateTime != null and endCreateTime != ''">  
		    	and c.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="startUpdateTime != null and startUpdateTime != ''">  
		    	and c.update_time &gt;= #{startUpdateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="endUpdateTime != null and endUpdateTime != ''">  
		    	and c.update_time &lt;= #{endUpdateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="startCutoffDate != null and startCutoffDate != ''">
				and c.cutoff_date &gt;= #{startCutoffDate,jdbcType=DATE}
			  </if>
			  <if test="endCutoffDate != null and endCutoffDate != ''">  
		    	and c.cutoff_date &lt;= #{endCutoffDate, jdbcType=DATE}
		      </if>
		      <if test="type != null">
				and c.type = #{type,jdbcType=INTEGER}
			 </if>
			 <if test="appId != null">
			 	and c.app_id = #{appId,jdbcType=BIGINT}
			 </if>
			 <if test="isDelete != null">
				and a.is_delete = #{isDelete,jdbcType=INTEGER}
			  </if>
			  <if test="name != null"> 
				and a.name = #{name,jdbcType=VARCHAR} 
			  </if>
			  <if test="qname != null">
				and a.name like concat('%', #{qname,jdbcType=VARCHAR}, '%') 
			  </if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by id desc
	  		</otherwise>
	 	 </choose>
	  </select>
	
</mapper>