<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.StatisticsDao">
	<!-- 统计总金额 -->
	<select id="statisticsPrice" resultType="java.util.Map" parameterType="java.util.Map">
		select case when sum(extract2) is null then 0 else sum(extract2) end total2, case when sum(extract1) is null then 0 else sum(extract1) end total1 from record
		<where>
			 <if test="name != null"> 
				and name = #{name,jdbcType=VARCHAR} 
			  </if>
			  <if test="qname != null">
				and name like concat('%', #{qname,jdbcType=VARCHAR}, '%') 
			  </if>
			  <if test="startExpireDate != null and startExpireDate != ''">  
		    	and expire_date &gt;= #{startExpireDate, jdbcType=DATE}
		      </if>
		      <if test="endExpireDate != null and endExpireDate != ''">  
		    	and expire_date &lt;= #{endExpireDate, jdbcType=DATE}
		      </if>
		      <if test="startCreateTime != null and startCreateTime != ''">  
		    	and create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="endCreateTime != null and endCreateTime != ''">  
		    	and create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="startUpdateTime != null and startUpdateTime != ''">  
		    	and update_time &gt;= #{startUpdateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="endUpdateTime != null and endUpdateTime != ''">  
		    	and update_time &lt;= #{endUpdateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="startCutoffDate != null and startCutoffDate != ''">
				and cutoff_date &gt;= #{startCutoffDate,jdbcType=DATE}
			  </if>
			  <if test="endCutoffDate != null and endCutoffDate != ''">  
		    	and cutoff_date &lt;= #{endCutoffDate, jdbcType=DATE}
		      </if>
		      <if test="isCutoff != null">
				and is_cutoff = #{isCutoff,jdbcType=INTEGER}
			 </if>
		</where>
	
	</select>
	
	<!-- 每月统计 -->
	<select id="monthStatistic" resultType="java.util.Map" parameterType="java.util.Map">
		select a.datelist, case when b.total2 is null then 0 else b.total2 end total2, case when b.total1 is null then 0 else b.total1 end total1 from 
		(select datelist from calendar where datelist &gt;= #{startCutoffDate,jdbcType=DATE} and datelist &lt;= #{endCutoffDate, jdbcType=DATE}) a
		left join 
		(select cutoff_date ,sum(extract2) total2, sum(extract1) total1 from record where cutoff_date &gt;= #{startCutoffDate,jdbcType=DATE} and cutoff_date &lt;= #{endCutoffDate, jdbcType=DATE} and is_cutoff = 1 group by cutoff_date) b
		on a.datelist = b.cutoff_date order by datelist asc
	</select>

</mapper>